void main(List<String> args) {
  List<Map<String, dynamic>> Product = [];
  
  Map<String, dynamic> urun1 = {
    "urunBarkod": "hpn123",
    "urunAd": "Hp",
    "urunFiyat": 25000,
    "urunRenk": "Gri",  
    "urunTipi": "Notebook"
  };
  
  Map<String, dynamic> urun2 = {
    "urunBarkod": "csprdu123",
    "urunAd": "Casper",
    "urunFiyat": 15000,
    "urunRenk": "Beyaz",
    "urunTipi": "DizÜstü"
  };
  //Yeni ürün eklerken buradan bir satır açınız.
  Map<String, dynamic> urun3 = {
  };
  Map<String, dynamic> urun4 = {
  };
  // Map<String, dynamic> urun5 = {
  //};
  // Map<String, dynamic> urun6 = {
  //};
  Product.add(urun1);
  Product.add(urun2);
  //Ürünlerimizi ekledik
  //Bir ürün daha ekleyelim
  //Product.add(urun3 = {"urunAd": "Lenovo", "urunBarkod": "lnvmu123", "urunFiyat": "65000", "urunRenk": "Siyah", "urunTipi": "masaüstü"});
  //Tüm ürünleri görüntülemek için alt satırdaki parantezin içine 'Product' yazınız.
  //print();
  
  //--------------------------------------------------------------------
  
  //ÜRÜN EKLEME
  //Product.add(urun4 = {"barkod numaralı ürün eklendi": "Ürünün barkod numarasını yazınız", "urunAd": "Eklemek istediğiniz ürünün adını yazınız", "urunFiyat": "Ürünün fiyatını yazınız", "urunRenk": "Ürünün rengini yazınız", "urunTipi": "Ürünün tipini yazınız"});
  //print(urun4);
  
  //--------------------------------------------------------------------
  
  //ÜRÜN SİLME
  //Silmek istediğiniz ürünü parantezin içine yazınız.
  //Product.remove();
  //print("SİLİNEN ÜRÜNÜN BARKOD NUMARASI");
  //Sildiğiniz ürünün ismini parantezin içine yazınız.
  //print(urun2);
  
  //---------------------------------------------------------------------
  
  //ÜRÜN  GÜNCELLEME
  //Güncellemek istediğiniz ürünü parantezin içine yazınız.
  //Product.update();
  //print("GÜNCELLENEN ÜRÜNÜNÜN BARKOD NUMARASI");
  //Güncellediğiniz ürünü parantezin içine yazınız.
  //print()
  
  //---------------------------------------------------------------------
  //ÜRÜNLERİ LİSTELEME
  //print(Product);
}

  
